.cart-product-card{
    display: flex;
    background-color: #fff;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.prod-cart-details {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.quantity-counter {
    text-align: end;
    margin-right: 30px;
}

.quantity-counter input{
    width: 40px;
    height: 20px;
    border-radius: 5px;
}

.quantity-btn {
    height: 25px;
    border: none;
    width: 25px;
    border-radius: 5px;
    margin: 0 5px;
}

.remove-btn{
    background-color: red;
    border: none;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}