.navbar {
    position: fixed;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    width: 72px;
    height: 93%;
    margin: 10px;
    border-radius: 8px;
    padding: 16px 0;
    justify-content: space-between;
    align-items: center;
    float: left;
    top: 0;
}

.nav-upper {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

.nav-icons {
    color: black;
    font-size: 24px;
    padding-bottom: 10px;
}

.nav-lower .nav-icons{
    background-color: red;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    color: #FFF;
}